block footer
    footer(class="footer-container")
        p Follow
        div(class="footer-icons")
            a(href="https://www.instagram.com/phscmedia/" class="about-link" target="_blank")
                svg(class="footer-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="31.002px" height="31.001px" viewBox="0 0 31.002 31.001" style="enable-background:new 0 0 31.002 31.001;" xml:space="preserve")
                    path(d="M30.988,3.229C30.798,1.383,29.268,0.001,27.409,0C19.473,0,11.538,0,3.602,0.002c-0.217,0-0.438,0.016-0.648,0.057 C1.196,0.395,0.002,1.849,0.002,3.638c0,3.956,0,7.912,0,11.868c0,3.948,0,7.896,0.002,11.844c0,0.201,0.015,0.403,0.04,0.604 c0.23,1.717,1.755,3.048,3.49,3.049c7.979,0,15.959,0,23.938-0.001c0.137,0,0.272-0.008,0.409-0.023 c1.753-0.206,3.116-1.737,3.116-3.502C31,19.496,31,11.516,30.998,3.536C31,3.432,31.002,3.331,30.988,3.229z M15.501,9.542 c3.294-0.001,5.96,2.661,5.964,5.958c0.004,3.295-2.658,5.962-5.954,5.964c-3.302,0.001-5.972-2.668-5.968-5.968 C9.547,12.21,12.215,9.542,15.501,9.542z M27.432,13.281c0,4.281,0,8.563,0,12.847c0,0.806-0.49,1.301-1.297,1.301 c-6.623,0-13.246,0-19.87,0c-0.477,0-0.951,0.001-1.429,0c-0.747-0.001-1.254-0.509-1.254-1.255c-0.001-4.302,0-8.604,0-12.907 c0-0.043,0-0.087,0-0.138c0.901,0,1.791,0,2.69,0c-0.602,2.429-0.326,4.753,0.863,6.951c0.869,1.604,2.115,2.851,3.704,3.748 c3.138,1.771,7.042,1.604,10.03-0.438c1.658-1.134,2.85-2.642,3.561-4.521c0.707-1.875,0.799-3.789,0.305-5.744 c0.901,0,1.789,0,2.695,0C27.432,13.178,27.432,13.229,27.432,13.281z M27.432,8.321c-0.002,0.705-0.521,1.219-1.229,1.22 c-0.009,0-0.019,0-0.024,0c-0.574,0-1.152,0-1.73,0c-0.588,0-1.178,0.001-1.768-0.001c-0.679,0-1.207-0.507-1.211-1.186 c-0.008-1.195-0.008-2.39,0-3.583c0.004-0.687,0.53-1.19,1.221-1.191c1.176-0.001,2.349-0.001,3.523,0 c0.696,0.001,1.217,0.518,1.219,1.218C27.434,5.974,27.434,7.147,27.432,8.321z")

            a(href="https://www.youtube.com/channel/UCLEroFS6G7I67Gk5nqlovfg" class="about-link" target="_blank")
                svg(class="footer-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49 49" style="enable-background:new 0 0 49 49;" xml:space="preserve")
                    path(d="M39.256,6.5H9.744C4.371,6.5,0,10.885,0,16.274v16.451c0,5.39,4.371,9.774,9.744,9.774h29.512 c5.373,0,9.744-4.385,9.744-9.774V16.274C49,10.885,44.629,6.5,39.256,6.5z M47,32.726c0,4.287-3.474,7.774-7.744,7.774H9.744 C5.474,40.5,2,37.012,2,32.726V16.274C2,11.988,5.474,8.5,9.744,8.5h29.512c4.27,0,7.744,3.488,7.744,7.774V32.726z")
                    path(d="M33.36,24.138l-13.855-8.115c-0.308-0.18-0.691-0.183-1.002-0.005S18,16.527,18,16.886v16.229 c0,0.358,0.192,0.69,0.502,0.868c0.154,0.088,0.326,0.132,0.498,0.132c0.175,0,0.349-0.046,0.505-0.137l13.855-8.113 c0.306-0.179,0.495-0.508,0.495-0.863S33.667,24.317,33.36,24.138z M20,31.37V18.63l10.876,6.371L20,31.37z")

            a(href="https://www.twitch.tv/phsc138" class="about-link" target="_blank")
                svg(class="footer-icon" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                    path(d="M4.265 3 3 6.236v13.223h4.502V21l2.531.85 2.392-2.391h3.658l4.923-4.924V3H4.265zm15.052 10.691-2.813 2.814h-4.502l-2.391 2.391v-2.391H5.813V4.688h13.504v9.003zm-2.812-5.767v4.923h-1.688V7.924h1.688zm-4.502 0v4.923h-1.688V7.924h1.688z")

            a(href="https://vero.co/phscmedia" class="about-link" target="_blank")
                svg(class="footer-icon" viewBox="0 0.4 959.3 823.9" xmlns="http://www.w3.org/2000/svg" width="2500" height="2146")
                    path(d="M479.7 649.9L852.8.4h106.5L480 824.3l-.3-.7-.4.7L0 .4h726.6L417.7 538z")

